* {

    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

html, body {

    height: 100vh;
    width: 100vw;

}

body {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.75fr 0.75fr 2.5fr;

}

/* MATERIAL ICON PROPERTIES */

.material-icons-sharp.icon-color {

    color: #5f6368;

}

.material-icons-sharp.md-20 {

    font-size: 20px;

}

/* */

/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */

.nav {

    grid-column: 1 / 4;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.nav-wrapper {

    display: flex;
    align-items: center;
    height: 48px;
    margin: 6px 18px;

}

/* LINKS */

.links {

    margin-right: 19px;
    padding-left: 1px;
    padding-bottom: 1px;

}

#nav-links-list {

    display: flex;
    font-size: 13px;
    font-family: arial, sans-serif;

}

#nav-links-list a {

    color: rgba(0, 0, 0, 0.87);
    text-decoration: none; 

}

#nav-links-list a:hover {

    text-decoration: underline; 

}

#nav-links-list > li {

    padding-left: 15px;

}

/* APPS ICON */

.apps {

    display: flex;
    align-items: center;
    padding: 8px;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;

}

.apps:hover {

    background-color:#f0f0f0;
    border-radius: 50%;
    
}

/* SIGN IN BUTTON */

#sign-in-button {

    min-width: 96px;
    padding: 9px 24.5px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Google Sans, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    
}

#sign-in-button:hover {

    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);

}

#sign-in-button:active {

    background-color: #63a0ef;

}

/* GOOGLE LOGO */
/* GOOGLE LOGO */
/* GOOGLE LOGO */

#google-logo {

    margin-bottom: 25px;

}

.header {

    grid-column: 1 / 4;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}

/* SEARCH BAR */
/* SEARCH BAR */
/* SEARCH BAR */

.main {

    grid-column: 1 / 4;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: flex-end;
 

}

.main-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* SEARCH BAR */

.search {

    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 46px;
    width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

}

.search:hover {

    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);

}

#search-box {

    flex: 100%;
    height: 34px;
    border: 0;
    outline: none;
    padding: 0px 14px;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
    cursor: text;

}

#search-icon {
    
    align-self: center;
    margin-right: auto;
    margin-left: 14px;

    user-select: none;
    color: #9aa0a6;

}

#tia-icon {

    margin-left: auto;
    align-self: center;

    margin-right: 16px;
    cursor: pointer;

}

#mic-icon {

    align-self: center;

    margin-right: 16px;
    cursor: pointer;
    user-select: none;

}

/* SEARCH BUTTONS */

.search-buttons {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 28px 0px;

}

#search-button {

    background-color: #f8f9fa;
    margin-right: 12px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

}

#search-button:hover {

    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;

}

#search-button:active {

    border: 1px solid #4285f4;

}

#lucky-button {

    background-color: #f8f9fa;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

}

#lucky-button:hover {

    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;

}

#lucky-button:active {

    border: 1px solid #4285f4;

}


/* FOOTER */
/* FOOTER */
/* FOOTER */ 

.footer {

    grid-column: 1 /4;
    grid-row: 4;

    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    height: 46px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;

}

.footer-left {

    display: flex;
    margin-left: 36px;
    
}

#footer-left-links {

    display: flex;

}

#footer-left-links > li {

    padding-right: 24px;

}

.footer-right {

    display: flex;
    margin-right: 36px;

}

#footer-right-links {

    display: flex;

}

#footer-right-links > li {

    padding-left: 24px;

}

#footer-left-links a, #footer-right-links a {

    color: #70757a;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-decoration: none;

}

#footer-left-links a:hover, #footer-right-links a:hover {

    text-decoration: underline;

}

